/*
=======================================
    varibles
=======================================
*/

$principal-color: rgb(211, 86, 73);
$grey-transparent: rgba(207, 203, 203, 0.7);

/*
========================================
     nav bar
========================================
*/

.nav {
  flex-direction: column;
  background-color: $principal-color;
  color: white;
  height: 20vh;
  width: 100%;

  .logo {
    align-content: center;
    margin: auto;
    padding-top: 10px;

    a {
      color: white;
      text-decoration: none;
    }

    i {
      font-size: 30px;
      margin: 0 5px;
    }

    p {
      font-family: Arial, Helvetica, sans-serif;
      align-self: center;
      font-size: 20px;
    }
  }

  .icons-nav {
    margin: auto;

    ul {
      list-style: none;

      li {
        padding: 10px 20px;

        a {
          color: white;
          text-decoration: none;
          list-style: none;
          padding: 0 5px;
        }

        p {
          display: none;
        }
      }
    }
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    height: 10vh;
    flex-direction: row;

    .logo {
      p {
        font-size: 22px;
      }
    }
  }

  @media (min-width: 1024px) {
    .icons-nav {
      margin: auto;

      ul {
        li {
          p {
            text-transform: uppercase;
            display: inline;
          }
        }
      }
    }
  }
}

/*
========================================
     main
========================================
*/

.main {
  header {
    align-items: center;
    justify-content: center;
    background-image: url(../img/gym.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
      text-transform: uppercase;
      color: white;
      text-align: center;
      padding-bottom: 10px;
      font-size: 20px;
    }

    form {
      background-color: $grey-transparent;
      padding: 3%;
      border-radius: 10px;
      width: 90%;

      h2 {
        text-transform: uppercase;
        color: rgb(66, 66, 66);
      }

      div {
        flex-direction: column;
      }

      input,
      .search-but {
        padding-left: 10px;
        height: 40px;
        border-radius: 3px;
        box-shadow: none;
        border: none;
        margin: 5px 0;
      }

      input {
        color: black;
      }

      .search-but {
        padding-top: 10px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        background-color: $principal-color;
      }
    }

    .how-it {
      color: rgb(66, 66, 66);
      background-color: $grey-transparent;
      border-radius: 3px;
      box-shadow: none;
      border: none;
      width: fit-content;
      margin-top: 10%;
      padding: 5px;
    }
  }

  .info-main {
    font-family: Arial, Helvetica, sans-serif;

    div {
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      width: 100%;
      color: white;

      .rounded {
        align-self: center;
        height: 300px;
        width: 300px;
        border-radius: 50%;
      }

      .cel {
        align-self: center;
        height: 300px;
        width: 300px;
      }

      button {
        align-self: center;
        background-color: white;
        border-radius: 3px;
        box-shadow: none;
        border: none;
        width: fit-content;
        padding: 5px;
      }
    }

    .find-gym,
    .near-gym,
    .a-a {
      padding: 20px;

      div {
        justify-content: center;
      }

      h3 {
        font-weight: bold;
        padding: 10px;
      }

      p {
        padding: 10px;
      }

      button {
        margin: 10px;
      }
    }

    .find-gym {
      background-color: $principal-color;

      .button {
        font-size: 13px;
        align-self: center;
        background-color: white;
        border-radius: 3px;
        box-shadow: none;
        border: none;
        width: fit-content;
        padding: 5px;
        margin-bottom: 5px;

        a {
          text-decoration: none;
          color: $principal-color;
        }
      }
    }

    .near-gym {
      background-color: rgb(152, 164, 165);

      .button-1 {
        font-size: 13px;
        align-self: center;
        background-color: white;
        border-radius: 3px;
        box-shadow: none;
        border: none;
        width: fit-content;
        padding: 5px;
        margin-bottom: 15px;

        a {
          text-decoration: none;
          color: rgb(152, 164, 165);
        }
      }
    }

    .a-a {
      background-color: rgb(80, 155, 215);
    }
  }

  .steps {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

    h3 {
      color: $principal-color;
      margin: 5%;
      font-size: 20px;
      text-transform: uppercase;
    }

    .steps-1 {
      flex-direction: column;

      div {
        padding: 20px;
        width: 100%;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        color: rgb(66, 66, 66);

        img {
          height: 50px;
          width: 50px;
        }

        h4 {
          padding: 20px;
          font-size: 22px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    header {
      h1 {
        font-size: 22px;
      }

      form {
        width: 65%;

        h2 {
          font-size: 16px;
        }

        div {
          flex-direction: row;

          input {
            width: 80%;
          }

          .search-but {
            font-size: 16px;
            padding-right: 15px;
            width: 20%;
          }
        }
      }
    }

    .info-main {
      .find-gym,
      .near-gym,
      .a-a {
        flex-direction: row;
      }
    }
  }

  @media (min-width: 1024px) {
    .steps {
      .steps-1 {
        flex-direction: row;
        flex-wrap: wrap;

        div {
          width: 50%;
          padding: 5%;
        }
      }
    }
  }
}

/*
========================================
     footer
========================================
*/

footer {
  padding: 2px 0;
  background-color: black;

  .container-footer {
    width: 90%;
    margin: auto;

    .header-footer {
      width: 100%;
      margin: 30px 0;

      .ul {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid rgb(41, 41, 41);
        border-bottom: 1px solid rgb(41, 41, 41);
        list-style: none;
        height: 50px;
        padding: 10px 0;

        .li-1,
        .li-2 {
          width: 100%;
          align-content: center;
          justify-content: space-evenly;

          div {
            flex-direction: column;
            justify-content: space-around;
          }

          a {
            padding: 5px;
            text-decoration: none;
            font-size: 10px;
            color: white;
          }
        }

        .icon-footer {
          .fa-map-marker-alt {
            color: white;
            background-color: black;
            border-radius: 50%;
            padding: 20px;
            font-size: 25px;
            border: 1px solid rgb(41, 41, 41);
          }
        }
      }
    }

    .middle-footer {
      display: none;
    }
  }

  .bottom-footer {
    display: none;
  }

  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;

    .bottom-footer {
      display: flex;
      width: 100%;
      background-color: rgb(49, 49, 49);
      justify-content: space-between;

      ul {
        display: flex;
        list-style: none;
        padding-left: 10px;

        li {
          padding: 15px 5px;

          a {
            font-size: 15px;
            color: rgb(138, 138, 138);
          }
        }
      }

      p {
        padding: 15px;
        color: rgb(138, 138, 138);
      }
    }

    .container-footer {
      width: 90%;
      margin: auto;
      padding: 0 10px;

      .middle-footer {
        display: flex;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        justify-content: space-between;
        color: white;

        div {
          text-align: center;
          width: 33%;

          h3 {
            padding: 10px;
            font-size: 20px;
          }

          p {
            font-size: 15px;
          }

          span {
            color: $principal-color;
          }

          .search-but-fo {
            width: 100%;

            input {
              width: 70%;
              background-color: black;
              padding-left: 10px;
              border: 1px solid $grey-transparent;
              box-shadow: none;
            }

            button {
              margin-right: auto;
              font-size: 15px;
              color: white;
              background-color: $grey-transparent;
              border-radius: 3px;
              box-shadow: none;
              border: none;
              width: 30%;
              padding: 5px 20px;
            }
          }
        }
      }

      .header-footer {
        width: 100%;
        margin: 30px 10px 15px;

        .ul {
          align-content: center;
          justify-content: space-between;
          border-top: 1px solid rgb(41, 41, 41);
          border-bottom: 1px solid rgb(41, 41, 41);
          list-style: none;
          height: 30px;

          .li-1,
          .li-2 {
            div {
              width: 100%;
              flex-direction: row;
            }

            .fa-map-marker-alt {
              background-color: black;
              border-radius: 50%;
              padding: 20px;
              font-size: 25px;
              border: 1px solid rgb(41, 41, 41);
            }

            a {
              text-decoration: none;
              font-size: 15px;
              color: white;
            }
          }
        }
      }
    }
  }
}
