/*
=======================================
    varibles
=======================================
*/

$principal-color: rgb(211, 86, 73);
$grey-transparent: rgba(207, 203, 203, 0.7);

/*
========================================
     nav bar 
========================================
*/

.nav {
  flex-direction: column;
  background-color: $principal-color;
  color: white;
  height: 20vh;
  width: 100%;

  .logo {
    align-content: center;
    margin: auto;
    padding-top: 10px;

    i {
      font-size: 30px;
      margin: 5px;
    }

    p {
      font-family: Arial, Helvetica, sans-serif;
      align-self: center;
      font-size: 20px;
    }
  }

  .icons-nav {
    margin: auto;
    ul {
      list-style: none;

      li {
        padding: 10px 20px;

        p {
          display: none;
        }
      }
    }
  }

  @media (min-width: 768px) {
    justify-content: space-between;
    height: 10vh;
    padding-bottom: 10px;
    flex-direction: row;

    .logo {
      p {
        font-size: 22px;
      }
    }
  }

  @media (min-width: 1024px) {
    .icons-nav {
      margin: auto;
      ul {
        li {
          p {
            text-transform: uppercase;
            display: inline;
          }
        }
      }
    }
  }
}

/*
========================================
     main
========================================
*/

.main {
  header {
    justify-content: center;
    align-content: center;
    background-image: url(../img/gym.jpg);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;

    h1 {
      text-transform: uppercase;
      color: white;
      text-align: center;
      padding-bottom: 10px;
    }

    form {
      background-color: $grey-transparent;
      padding: 3%;
      border-radius: 10px;
      margin: 0 5%;

      h2 {
        text-transform: uppercase;
        color: rgb(66, 66, 66);
      }

      div {
        flex-direction: column;
      }

      input,
      button {
        padding-left: 10px;
        height: 40px;
        border-radius: 3px;
        box-shadow: none;
        border: none;
        margin: 5px 0;
      }

      input {
        color: black;
      }

      .search-but {
        text-transform: uppercase;
        color: white;
        background-color: $principal-color;
      }
    }

    .how-it {
      color: rgb(66, 66, 66);
      background-color: $grey-transparent;
      border-radius: 3px;
      box-shadow: none;
      border: none;
      width: fit-content;
      margin: 10% 0 0 15%;
      padding: 5px;
    }
  }

  .steps {
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      color: $principal-color;
      margin: 5% auto;
      font-size: 20px;
      text-transform: uppercase;
    }

    .steps-1 {
      flex-direction: column;
      div {
        padding: 20px;
        width: 95%;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(66, 66, 66);

        img {
          height: 50px;
          width: 50px;
        }

        h4 {
          padding: 20px;
          font-size: 22px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    header {
      height: 70vh;
      align-content: center;
      justify-content: center;

      h1 {
        font-size: 22px;
      }

      form {
        margin: 0 auto;
        width: 65%;

        h2 {
          font-size: 16px;
        }

        div {
          flex-direction: row;

          input {
            width: 70%;
          }

          .search-but {
            font-size: 16px;
            padding-right: 15px;
            width: 20%;
          }
        }
      }

      .how-it {
        font-size: 16px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 0;
      }
    }

    .steps {
      margin: 30px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        color: $principal-color;
        margin: 5% auto;
        font-size: 20px;
        text-transform: uppercase;
      }

      .steps-1 {
        flex-direction: column;
        div {
          padding: 20px;
          width: 95%;
          flex-direction: column;
          justify-items: center;
          align-items: center;
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
          color: rgb(66, 66, 66);

          img {
            height: 50px;
            width: 50px;
          }

          h4 {
            padding: 20px;
            font-size: 22px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media (min-width: 1024px) {
    .steps {
      .steps-1 {
        flex-direction: row;
        flex-wrap: wrap;
        div {
          width: 46%;
        }
      }
    }
  }
}

/*
========================================
     footer
========================================
*/

footer {
  padding: 2px 0;
  background-color: black;

  .container-footer {
    width: 90%;
    margin: auto;

    .header-footer {
      width: 100%;
      margin: 30px 0;

      ul {
        width: 100%;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgb(41, 41, 41);
        border-bottom: 1px solid rgb(41, 41, 41);
        list-style: none;
        height: 50px;
        padding: 10px 0;

        .li-1 {
          div {
            flex-direction: column;
            padding: 10px;
          }
        }

        .li-2 {
          div {
            flex-direction: column;
            padding: 10px;
          }
        }

        li {
          .fa-map-marker-alt {
            background-color: black;
            border-radius: 50%;
            padding: 20px;
            font-size: 25px;
            border: 1px solid rgb(41, 41, 41);
          }

          a {
            text-decoration: none;
            font-size: 15px;
            color: white;
          }
        }
      }
    }

    .middle-footer {
      display: none;
    }
  }

  .bottom-footer {
    display: none;
  }

  @media (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;

    .container-footer {
      width: 90%;
      margin: auto;
      padding: 0 10px;

      .header-footer {
        width: 100%;
        margin: 30px 10px 15px;

        ul {
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid rgb(41, 41, 41);
          border-bottom: 1px solid rgb(41, 41, 41);
          list-style: none;
          height: 30px;

          .li-1 {
            div {
              flex-direction: row;
            }

            .fa-map-marker-alt {
              background-color: black;
              border-radius: 50%;
              padding: 20px;
              font-size: 25px;
              border: 1px solid rgb(41, 41, 41);
            }

            a {
              text-decoration: none;
              font-size: 15px;
              color: white;
            }
          }

          .li-2 {
            div {
              flex-direction: row;
            }

            .fa-map-marker-alt {
              background-color: black;
              border-radius: 50%;
              padding: 20px;
              font-size: 25px;
              border: 1px solid rgb(41, 41, 41);
            }

            a {
              text-decoration: none;
              font-size: 15px;
              color: white;
            }
          }
        }
      }

      .middle-footer {
        display: flex;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        justify-content: space-between;
        color: white;

        div {
          text-align: center;
          width: 33%;

          h3 {
            padding: 10px;
            font-size: 20px;
          }

          p {
            font-size: 15px;
          }

          span {
            color: $principal-color;
          }

          .search-but-fo {
            width: 100%;

            input {
              width: 70%;
              background-color: black;
              padding-left: 10px;
              border: 1px solid $grey-transparent;
              box-shadow: none;
            }

            button {
              margin-right: auto;
              font-size: 15px;
              color: white;
              background-color: $grey-transparent;
              border-radius: 3px;
              box-shadow: none;
              border: none;
              width: 30%;
              padding: 5px 20px;
            }
          }
        }
      }
    }

    .bottom-footer {
      display: flex;
      width: 100%;
      background-color: rgb(49, 49, 49);
      justify-content: space-between;

      ul {
        display: flex;
        list-style: none;
        padding-left: 10px;

        li {
          padding: 15px 5px;
          a {
            font-size: 15px;
            color: rgb(138, 138, 138);
          }
        }
      }

      p {
        padding: 15px;
        color: rgb(138, 138, 138);
      }
    }
  }
}
